#box{
    margin: 20px;
    width: 800px;
    height: 50px;
    position: relative;
    background-color: aqua;
    padding: 10px;
}
#ball {
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: red;
    position: absolute;
    top: 10px;
    left: 10px;
}